body{
    background-color: rgb(2, 78, 2);
}

*{
    color: wheat;
}
.head{
    background-color: rgb(129, 23, 4);
}

.jumbo{
    background-color: rgb(129, 23, 4);
}
.card{
    background-color: rgb(129, 23, 4);  
}